- fields = [ :name, :email, :is_success_str, :restored_at, :website_url, :feedback, :url, :image_str ]

%table.table.table-striped.table-condensed
  %tbody
    - fields.each do |ff|
      - val = @feedback.try(ff)
      - if val.present?
        %tr
          %th= t("feedback.#{ff}")
          %td= val