.container
  .row.rowContainer
    %h1 Feedback Submitted
    %p All submissions are carefully reviewed by our team. We look forward to taking your thoughts into consideration as we improve CodeGuard's restore experience.
