$gray: #999
$fa_green: #81b822
$fa_red: #e5172c
$fa_gray: #dddddd

header
  margin: 10px 0

  h2
    color: #ebebeb

  .logo
    margin: 10px 20px 0 10px
    height: 40px


select, input
  &.small
    font-size: 0.8em
    padding: 2px 4px
    line-height: 150%
    height: auto
    width: auto
    margin: 0

a
  &.auto_submit_clear
    color: $gray
    margin: 0 5px

img
  &.half-size
    width: 50%

.fa-green
  color: $fa_green

.fa-gray
  color: $fa_gray

.fa-red
  color: $fa_red

.pr_1
  width: 1%

.nw
  white-space: nowrap

.cb
  clear: both

.pagination
  margin: 0

td.c, th.c, .c
  text-align: center

td.r, th.r, .r
  text-align: right
